<?php
$host="localhost";
$user="root";
$pass="";

$dbname=__DIR__."/phprbac.sqlite3";
// $dbname="phprbac";
// $dsn="sqlsrv:Server=tcp:phprbac.database.windows.net,1433;Database=phprbac";

$adapter="pdo_sqlite";
// $adapter="pdo_mysql";
// $adapter="mysqli";
// $adapter="pdo";

$tablePrefix = "phprbac_";
